@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #131b20;
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.bracket-round {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bracket-round-header {
  width: 22rem;
  margin-right: 8rem;
  padding: 0.2rem 0;
  font-size: 120%;
  font-weight: bold;
  margin-left: 2rem;
  &.bracket-last-round {
    margin-right: 0;
  }
}

.bracket-connectors {
  display: flex;
}

.bracket-connector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 4rem;
}

.bracket-horizontal-line {
  border: solid 1px #999;
}

.bracket-spacer {
  flex-grow: 0.5;
}

.bracket-vertical-line {
  border-right: solid 1px #999;
}

.bracket-match {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  .bracket-match-id {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 4rem;
    font-weight: bold;
    color: #999;
  }
  .bracket-players {
    width: 20rem;
  }
}

.bracket-player {
  padding: 0.5rem 0;
  background: #000;
  border-left: solid 0.2rem #999;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.4s ease-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .bracket-player-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    flex: 1 1 auto;
    color: #999;
  }
  .bracket-player-seed,
  .bracket-player-score {
    flex: 0 0 auto;
    padding: 0 0.5rem;
    color: #999;
    min-width: 40px;
  }
  &.bracket-highlighted {
    background-color: #c9a01d;
    color: white;
    border-left: solid 0.2rem #fff;
    .bracket-player-seed,
    .bracket-player-score,
    .bracket-player-name {
      color: white;
    }
  }
  &:first-child {
    border-bottom: solid 2px #999;
    border-bottom-right-radius: 0;
  }
}

.bracket-winner {
  background-color: #000;
  border-left: solid 0.2rem #0fac0f;
  .bracket-player-score {
    font-weight: bold;
    color: rgb(15, 172, 15);
  }
  .bracket-player-name {
    color: #fff;
  }
  &.bracket-highlighted {
    .bracket-player-score {
      color: #fff;
    }
    .bracket-player-name {
      color: white;
    }
  }
}
